<% include partials/header %>

<div id="news-page" class="jumbotron">
	<a href="/news" class="post-type">NEWS</a>
	<!-- <h1>NEWS</h1> -->
</div>

<div class="news-all">

<div class="container">
		
	    <div class="row">

	    	<% news.forEach(function(news,index) { %>

	      
		  <div class="col-md-4 col-sm-6">

		    <div style="margin-bottom: -20px;"><em><%= news.date %></em></div>
		    <div style="margin-bottom: -20px;margin-right:50px;float: right;"><a class="author" href="#"><em><%= news.author %></em></a></div>
		    
		    
		    <div class="thumbnail">
		    	<a href="/news/<%= news._id %>/<%= news.title %>"><img src="<%= news.image %>"></a>
		    </div>

		    <div class="caption">
		    	<a href="/news/<%= news._id %>/<%= news.title %>"><h3><%= news.title %></h3></a><br>
		    </div>

		    <br>
		    
		  </div>

		  

	    <% }) %>

	    </div>

</div>

</div>

<% include partials/footer %>