<% include partials/header %>

<div id="blog-page" class="jumbotron">
	<h1>The Anime Knight News!</h1>
    <p>The most up-to-date Anime Community!</p>
</div>

<div class="container">
		
	    <div class="row">

	    	<% news.forEach(function(news,index) { %>

	      
		  <div class="col-md-4 col-sm-6">
		    <div style="margin-bottom: -20px;"><em><%= news.date %></em></div>
		    <div style="margin-bottom: -20px;margin-right:50px;float: right;"><a class="author" href="#"><em><%= news.author %></em></a></div>
		    
		    
		    <div class="thumbnail">
		    	<a href="/news/<%= news._id %>/<%= news.title %>"><img src="<%= news.image %>"></a>
		    </div>

		    <div class="caption">
		    	<a href="/news/<%= news._id %>/<%= news.title %>"><h3><%= news.title %></h3></a><br>
		    </div>
		    
		  </div>

	    <% }) %>

	    </div>

</div>

<% include partials/footer %>