<% include partials/header %>

<div id="review-page" class="jumbotron">
	<a href="/review" class="post-type">REVIEWS</a>
	<!-- <h1>BLOG</h1> -->
</div>

<div class="review-all">

<div class="container">
		
	    <div class="row">

	    	<% review.forEach(function(review,index) { %>


		  <div class="col-md-4 col-sm-6">

		    <div style="margin-bottom: -20px;"><em><%= review.date %></em></div>
		    <div style="margin-bottom: -20px;margin-right:25px;float: right;letter-spacing: 0.7px;"><a class="author" href="#"><em><%= review.author %></em></a></div>
		    
		    <div class="thumbnail">
		      <div class="img">
		    	<a href="/review/<%= review._id %>/<%= review.title %>"><img src="<%= review.image %>"></a>
		      </div>	
		    </div>

		    <div class="caption">
		    	<a href="/review/<%= review._id %>/<%= review.title %>"><h3><%= review.title %></h3></a>
		    </div>

		    <!-- <span><em>By <a class="author" href="#"><%= review.author %></a> on <%= review.date %></em></span><br><br> -->

		    <!-- <span><%= review.created.toDateString(); %></span> -->

		    <!-- <div class="relative"> -->
			    <!-- <p><%- review.body.substring(0,250); %></p> -->
			    <!-- <div class="absolute"></div> -->
			<!-- </div> -->

			<br>
		    
		  </div>

	    <% }) %>

	    </div>

</div>

</div>

<% include partials/footer %>