<% include partials/header %>


<div class="author-page">
	
	<div class="row">
	
	    <div class="col-md-5">
		  <div class="author-img">
		   	<img src="https://randomuser.me/api/portraits/men/51.jpg">
	      </div>
	    </div>	
	
		<div class="col-md-6 author-name">
		  <h1><%= name %></h1>
		   <div class="author-info"> 
		     <p>One-Punch Man is an ongoing Japanese superhero parody webcomic created by an author using the pseudonym One which began publication in early 2009.</p> 
		   </div> 
		</div>
		
	</div>

</div>



 <div class="container news-section-laptop-container author-articles">
	
	<!-- <a href="/latest" class="post-detail trending news-section-laptop">NEWS</a> -->
  	
	<% latest.forEach(function(latest,index) { %>

		<div class="row news-section-laptop">
	 	
	         <div class="thumbnail">
			      <div class="img">
			      	<a href="/latest/<%= latest._id %>/<%= latest.title %>"><img src="<%= latest.image %>"></a>
			      </div>	
			 </div>
	
			 <div class="caption">
			 	<a href="/latest/<%= latest._id %>/<%= latest.title %>"><h1><%= latest.title %></h1></a>
			 </div>
	
			 <div class="relative" >
			 	<span><a class="author" href="/author/<%= latest.author %>"><%= latest.author %></a> | <%= latest.date %></span>
			 	<p><%- latest.body.substring(0,600).split('.',1)[0]; %>.</p>
		     </div> 

        </div>

        <hr class="style7">
        
     
    <% }) %>

</div>    

<% include partials/header %>